<div class="card card--center home-card">
  <div class="card-body">
    <h1 class="mb-4">UAV Fleet Management</h1>
    <p class="mb-6">
      Добре дошли в системата за управление на безпилотната флота.
      Тук можете да създавате, разглеждате и управлявате вашите дронове, оператори и мисии.
    </p>
    <img ngSrc="assets/images/drone-shadow.png"
         alt="UAV Fleet"
         class="w-full h-auto mb-6 rounded-lg shadow-lg"
         height="1200"
         width="1200"/>
    <a routerLink="/drones" class="btn-primary">Започни работа</a>
  </div>
</div>
