@use 'variables' as var;
@use 'mixins' as mixins;

body {
  background-color: transparent;
}

.home-wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: transparent;

  .home-content {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: var.$gap * 2;
    height: 100vh;

    .overlay {
      @include mixins.card();
      background: rgba(255, 255, 255, 0.9);
      padding: var.$gap * 2;
      border-radius: var.$radius;
      width: 30vw;
      max-width: 350px;
      min-height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h1 {
        font-size: 2rem;
        margin-bottom: var.$gap;
      }

      p {
        flex: 1;
        margin-bottom: var.$gap;
      }
    }

    img.man-vr {
      position: fixed;
      bottom: 0;
      right: 10%;
      height: 80vh;
      width: 20vw;
      z-index: 8;
    }
  }
}
