@use 'variables' as var;
@use 'mixins'    as mixins;

.card {
  @include mixins.card();

  &-header {
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 2px solid var.$border;
    padding-bottom: var.$gap / 2;
    margin-bottom: var.$gap;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin: 0;
    }

    .add-button {
      @include mixins.btn(var.$primary, var.$primary-hover);
    }
  }

  &-body {
    padding: var.$gap;
  }
}

.card--center {
  @include mixins.card(700px);
}
